/* --------------------------------- Header --------------------------------- */

.header {
	background-color: #fff;
	padding: 0;

	.logo {
		width: max-content;
	}
}

.default-sider {
	height: 100vh;
}

.default-content {
	height: calc(100vh - 70px);
	overflow: auto;
	padding: 20px;
}
