@font-face {
	font-family: 'icon-hvh';
	src: url('../public/fonts/icon-hvh.eot?qainta');
	src:
		url('../public/fonts/icon-hvh.eot?qainta#iefix') format('embedded-opentype'),
		url('../public/fonts/icon-hvh.ttf?qainta') format('truetype'),
		url('../public/fonts/icon-hvh.woff?qainta') format('woff'),
		url('../public/fonts/icon-hvh.svg?qainta#icon-hvh') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-hvh-"],
[class*=" icon-hvh-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icon-hvh' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hvh-home::before {
	content: "\e900";
}

.icon-hvh-home2::before {
	content: "\e901";
}

.icon-hvh-home3::before {
	content: "\e902";
}

.icon-hvh-office::before {
	content: "\e903";
}

.icon-hvh-newspaper::before {
	content: "\e904";
}

.icon-hvh-pencil::before {
	content: "\e905";
}

.icon-hvh-pencil2::before {
	content: "\e906";
}

.icon-hvh-quill::before {
	content: "\e907";
}

.icon-hvh-pen::before {
	content: "\e908";
}

.icon-hvh-blog::before {
	content: "\e909";
}

.icon-hvh-eyedropper::before {
	content: "\e90a";
}

.icon-hvh-droplet::before {
	content: "\e90b";
}

.icon-hvh-paint-format::before {
	content: "\e90c";
}

.icon-hvh-image::before {
	content: "\e90d";
}

.icon-hvh-images::before {
	content: "\e90e";
}

.icon-hvh-camera::before {
	content: "\e90f";
}

.icon-hvh-headphones::before {
	content: "\e910";
}

.icon-hvh-music::before {
	content: "\e911";
}

.icon-hvh-play::before {
	content: "\e912";
}

.icon-hvh-film::before {
	content: "\e913";
}

.icon-hvh-video-camera::before {
	content: "\e914";
}

.icon-hvh-dice::before {
	content: "\e915";
}

.icon-hvh-pacman::before {
	content: "\e916";
}

.icon-hvh-spades::before {
	content: "\e917";
}

.icon-hvh-clubs::before {
	content: "\e918";
}

.icon-hvh-diamonds::before {
	content: "\e919";
}

.icon-hvh-bullhorn::before {
	content: "\e91a";
}

.icon-hvh-connection::before {
	content: "\e91b";
}

.icon-hvh-podcast::before {
	content: "\e91c";
}

.icon-hvh-feed::before {
	content: "\e91d";
}

.icon-hvh-mic::before {
	content: "\e91e";
}

.icon-hvh-book::before {
	content: "\e91f";
}

.icon-hvh-books::before {
	content: "\e920";
}

.icon-hvh-library::before {
	content: "\e921";
}

.icon-hvh-file-text::before {
	content: "\e922";
}

.icon-hvh-profile::before {
	content: "\e923";
}

.icon-hvh-file-empty::before {
	content: "\e924";
}

.icon-hvh-files-empty::before {
	content: "\e925";
}

.icon-hvh-file-text2::before {
	content: "\e926";
}

.icon-hvh-file-picture::before {
	content: "\e927";
}

.icon-hvh-file-music::before {
	content: "\e928";
}

.icon-hvh-file-play::before {
	content: "\e929";
}

.icon-hvh-file-video::before {
	content: "\e92a";
}

.icon-hvh-file-zip::before {
	content: "\e92b";
}

.icon-hvh-copy::before {
	content: "\e92c";
}

.icon-hvh-paste::before {
	content: "\e92d";
}

.icon-hvh-stack::before {
	content: "\e92e";
}

.icon-hvh-folder::before {
	content: "\e92f";
}

.icon-hvh-folder-open::before {
	content: "\e930";
}

.icon-hvh-folder-plus::before {
	content: "\e931";
}

.icon-hvh-folder-minus::before {
	content: "\e932";
}

.icon-hvh-folder-download::before {
	content: "\e933";
}

.icon-hvh-folder-upload::before {
	content: "\e934";
}

.icon-hvh-price-tag::before {
	content: "\e935";
}

.icon-hvh-price-tags::before {
	content: "\e936";
}

.icon-hvh-barcode::before {
	content: "\e937";
}

.icon-hvh-qrcode::before {
	content: "\e938";
}

.icon-hvh-ticket::before {
	content: "\e939";
}

.icon-hvh-cart::before {
	content: "\e93a";
}

.icon-hvh-coin-dollar::before {
	content: "\e93b";
}

.icon-hvh-coin-euro::before {
	content: "\e93c";
}

.icon-hvh-coin-pound::before {
	content: "\e93d";
}

.icon-hvh-coin-yen::before {
	content: "\e93e";
}

.icon-hvh-credit-card::before {
	content: "\e93f";
}

.icon-hvh-calculator::before {
	content: "\e940";
}

.icon-hvh-lifebuoy::before {
	content: "\e941";
}

.icon-hvh-phone::before {
	content: "\e942";
}

.icon-hvh-phone-hang-up::before {
	content: "\e943";
}

.icon-hvh-address-book::before {
	content: "\e944";
}

.icon-hvh-envelop::before {
	content: "\e945";
}

.icon-hvh-pushpin::before {
	content: "\e946";
}

.icon-hvh-location::before {
	content: "\e947";
}

.icon-hvh-location2::before {
	content: "\e948";
}

.icon-hvh-compass::before {
	content: "\e949";
}

.icon-hvh-compass2::before {
	content: "\e94a";
}

.icon-hvh-map::before {
	content: "\e94b";
}

.icon-hvh-map2::before {
	content: "\e94c";
}

.icon-hvh-history::before {
	content: "\e94d";
}

.icon-hvh-clock::before {
	content: "\e94e";
}

.icon-hvh-clock2::before {
	content: "\e94f";
}

.icon-hvh-alarm::before {
	content: "\e950";
}

.icon-hvh-bell::before {
	content: "\e951";
}

.icon-hvh-stopwatch::before {
	content: "\e952";
}

.icon-hvh-calendar::before {
	content: "\e953";
}

.icon-hvh-printer::before {
	content: "\e954";
}

.icon-hvh-keyboard::before {
	content: "\e955";
}

.icon-hvh-display::before {
	content: "\e956";
}

.icon-hvh-laptop::before {
	content: "\e957";
}

.icon-hvh-mobile::before {
	content: "\e958";
}

.icon-hvh-mobile2::before {
	content: "\e959";
}

.icon-hvh-tablet::before {
	content: "\e95a";
}

.icon-hvh-tv::before {
	content: "\e95b";
}

.icon-hvh-drawer::before {
	content: "\e95c";
}

.icon-hvh-drawer2::before {
	content: "\e95d";
}

.icon-hvh-box-add::before {
	content: "\e95e";
}

.icon-hvh-box-remove::before {
	content: "\e95f";
}

.icon-hvh-download::before {
	content: "\e960";
}

.icon-hvh-upload::before {
	content: "\e961";
}

.icon-hvh-floppy-disk::before {
	content: "\e962";
}

.icon-hvh-drive::before {
	content: "\e963";
}

.icon-hvh-database::before {
	content: "\e964";
}

.icon-hvh-undo::before {
	content: "\e965";
}

.icon-hvh-redo::before {
	content: "\e966";
}

.icon-hvh-undo2::before {
	content: "\e967";
}

.icon-hvh-redo2::before {
	content: "\e968";
}

.icon-hvh-forward::before {
	content: "\e969";
}

.icon-hvh-reply::before {
	content: "\e96a";
}

.icon-hvh-bubble::before {
	content: "\e96b";
}

.icon-hvh-bubbles::before {
	content: "\e96c";
}

.icon-hvh-bubbles2::before {
	content: "\e96d";
}

.icon-hvh-bubble2::before {
	content: "\e96e";
}

.icon-hvh-bubbles3::before {
	content: "\e96f";
}

.icon-hvh-bubbles4::before {
	content: "\e970";
}

.icon-hvh-user::before {
	content: "\e971";
}

.icon-hvh-users::before {
	content: "\e972";
}

.icon-hvh-user-plus::before {
	content: "\e973";
}

.icon-hvh-user-minus::before {
	content: "\e974";
}

.icon-hvh-user-check::before {
	content: "\e975";
}

.icon-hvh-user-tie::before {
	content: "\e976";
}

.icon-hvh-quotes-left::before {
	content: "\e977";
}

.icon-hvh-quotes-right::before {
	content: "\e978";
}

.icon-hvh-hour-glass::before {
	content: "\e979";
}

.icon-hvh-spinner::before {
	content: "\e97a";
}

.icon-hvh-spinner2::before {
	content: "\e97b";
}

.icon-hvh-spinner3::before {
	content: "\e97c";
}

.icon-hvh-spinner4::before {
	content: "\e97d";
}

.icon-hvh-spinner5::before {
	content: "\e97e";
}

.icon-hvh-spinner6::before {
	content: "\e97f";
}

.icon-hvh-spinner7::before {
	content: "\e980";
}

.icon-hvh-spinner8::before {
	content: "\e981";
}

.icon-hvh-spinner9::before {
	content: "\e982";
}

.icon-hvh-spinner10::before {
	content: "\e983";
}

.icon-hvh-spinner11::before {
	content: "\e984";
}

.icon-hvh-binoculars::before {
	content: "\e985";
}

.icon-hvh-search::before {
	content: "\e986";
}

.icon-hvh-zoom-in::before {
	content: "\e987";
}

.icon-hvh-zoom-out::before {
	content: "\e988";
}

.icon-hvh-enlarge::before {
	content: "\e989";
}

.icon-hvh-shrink::before {
	content: "\e98a";
}

.icon-hvh-enlarge2::before {
	content: "\e98b";
}

.icon-hvh-shrink2::before {
	content: "\e98c";
}

.icon-hvh-key::before {
	content: "\e98d";
}

.icon-hvh-key2::before {
	content: "\e98e";
}

.icon-hvh-lock::before {
	content: "\e98f";
}

.icon-hvh-unlocked::before {
	content: "\e990";
}

.icon-hvh-wrench::before {
	content: "\e991";
}

.icon-hvh-equalizer::before {
	content: "\e992";
}

.icon-hvh-equalizer2::before {
	content: "\e993";
}

.icon-hvh-cog::before {
	content: "\e994";
}

.icon-hvh-cogs::before {
	content: "\e995";
}

.icon-hvh-hammer::before {
	content: "\e996";
}

.icon-hvh-magic-wand::before {
	content: "\e997";
}

.icon-hvh-aid-kit::before {
	content: "\e998";
}

.icon-hvh-bug::before {
	content: "\e999";
}

.icon-hvh-pie-chart::before {
	content: "\e99a";
}

.icon-hvh-stats-dots::before {
	content: "\e99b";
}

.icon-hvh-stats-bars::before {
	content: "\e99c";
}

.icon-hvh-stats-bars2::before {
	content: "\e99d";
}

.icon-hvh-trophy::before {
	content: "\e99e";
}

.icon-hvh-gift::before {
	content: "\e99f";
}

.icon-hvh-glass::before {
	content: "\e9a0";
}

.icon-hvh-glass2::before {
	content: "\e9a1";
}

.icon-hvh-mug::before {
	content: "\e9a2";
}

.icon-hvh-spoon-knife::before {
	content: "\e9a3";
}

.icon-hvh-leaf::before {
	content: "\e9a4";
}

.icon-hvh-rocket::before {
	content: "\e9a5";
}

.icon-hvh-meter::before {
	content: "\e9a6";
}

.icon-hvh-meter2::before {
	content: "\e9a7";
}

.icon-hvh-hammer2::before {
	content: "\e9a8";
}

.icon-hvh-fire::before {
	content: "\e9a9";
}

.icon-hvh-lab::before {
	content: "\e9aa";
}

.icon-hvh-magnet::before {
	content: "\e9ab";
}

.icon-hvh-bin::before {
	content: "\e9ac";
}

.icon-hvh-bin2::before {
	content: "\e9ad";
}

.icon-hvh-briefcase::before {
	content: "\e9ae";
}

.icon-hvh-airplane::before {
	content: "\e9af";
}

.icon-hvh-truck::before {
	content: "\e9b0";
}

.icon-hvh-road::before {
	content: "\e9b1";
}

.icon-hvh-accessibility::before {
	content: "\e9b2";
}

.icon-hvh-target::before {
	content: "\e9b3";
}

.icon-hvh-shield::before {
	content: "\e9b4";
}

.icon-hvh-power::before {
	content: "\e9b5";
}

.icon-hvh-switch::before {
	content: "\e9b6";
}

.icon-hvh-power-cord::before {
	content: "\e9b7";
}

.icon-hvh-clipboard::before {
	content: "\e9b8";
}

.icon-hvh-list-numbered::before {
	content: "\e9b9";
}

.icon-hvh-list::before {
	content: "\e9ba";
}

.icon-hvh-list2::before {
	content: "\e9bb";
}

.icon-hvh-tree::before {
	content: "\e9bc";
}

.icon-hvh-menu::before {
	content: "\e9bd";
}

.icon-hvh-menu2::before {
	content: "\e9be";
}

.icon-hvh-menu3::before {
	content: "\e9bf";
}

.icon-hvh-menu4::before {
	content: "\e9c0";
}

.icon-hvh-cloud::before {
	content: "\e9c1";
}

.icon-hvh-cloud-download::before {
	content: "\e9c2";
}

.icon-hvh-cloud-upload::before {
	content: "\e9c3";
}

.icon-hvh-cloud-check::before {
	content: "\e9c4";
}

.icon-hvh-download2::before {
	content: "\e9c5";
}

.icon-hvh-upload2::before {
	content: "\e9c6";
}

.icon-hvh-download3::before {
	content: "\e9c7";
}

.icon-hvh-upload3::before {
	content: "\e9c8";
}

.icon-hvh-sphere::before {
	content: "\e9c9";
}

.icon-hvh-earth::before {
	content: "\e9ca";
}

.icon-hvh-link::before {
	content: "\e9cb";
}

.icon-hvh-flag::before {
	content: "\e9cc";
}

.icon-hvh-attachment::before {
	content: "\e9cd";
}

.icon-hvh-eye::before {
	content: "\e9ce";
}

.icon-hvh-eye-plus::before {
	content: "\e9cf";
}

.icon-hvh-eye-minus::before {
	content: "\e9d0";
}

.icon-hvh-eye-blocked::before {
	content: "\e9d1";
}

.icon-hvh-bookmark::before {
	content: "\e9d2";
}

.icon-hvh-bookmarks::before {
	content: "\e9d3";
}

.icon-hvh-sun::before {
	content: "\e9d4";
}

.icon-hvh-contrast::before {
	content: "\e9d5";
}

.icon-hvh-brightness-contrast::before {
	content: "\e9d6";
}

.icon-hvh-star-empty::before {
	content: "\e9d7";
}

.icon-hvh-star-half::before {
	content: "\e9d8";
}

.icon-hvh-star-full::before {
	content: "\e9d9";
}

.icon-hvh-heart::before {
	content: "\e9da";
}

.icon-hvh-heart-broken::before {
	content: "\e9db";
}

.icon-hvh-man::before {
	content: "\e9dc";
}

.icon-hvh-woman::before {
	content: "\e9dd";
}

.icon-hvh-man-woman::before {
	content: "\e9de";
}

.icon-hvh-happy::before {
	content: "\e9df";
}

.icon-hvh-happy2::before {
	content: "\e9e0";
}

.icon-hvh-smile::before {
	content: "\e9e1";
}

.icon-hvh-smile2::before {
	content: "\e9e2";
}

.icon-hvh-tongue::before {
	content: "\e9e3";
}

.icon-hvh-tongue2::before {
	content: "\e9e4";
}

.icon-hvh-sad::before {
	content: "\e9e5";
}

.icon-hvh-sad2::before {
	content: "\e9e6";
}

.icon-hvh-wink::before {
	content: "\e9e7";
}

.icon-hvh-wink2::before {
	content: "\e9e8";
}

.icon-hvh-grin::before {
	content: "\e9e9";
}

.icon-hvh-grin2::before {
	content: "\e9ea";
}

.icon-hvh-cool::before {
	content: "\e9eb";
}

.icon-hvh-cool2::before {
	content: "\e9ec";
}

.icon-hvh-angry::before {
	content: "\e9ed";
}

.icon-hvh-angry2::before {
	content: "\e9ee";
}

.icon-hvh-evil::before {
	content: "\e9ef";
}

.icon-hvh-evil2::before {
	content: "\e9f0";
}

.icon-hvh-shocked::before {
	content: "\e9f1";
}

.icon-hvh-shocked2::before {
	content: "\e9f2";
}

.icon-hvh-baffled::before {
	content: "\e9f3";
}

.icon-hvh-baffled2::before {
	content: "\e9f4";
}

.icon-hvh-confused::before {
	content: "\e9f5";
}

.icon-hvh-confused2::before {
	content: "\e9f6";
}

.icon-hvh-neutral::before {
	content: "\e9f7";
}

.icon-hvh-neutral2::before {
	content: "\e9f8";
}

.icon-hvh-hipster::before {
	content: "\e9f9";
}

.icon-hvh-hipster2::before {
	content: "\e9fa";
}

.icon-hvh-wondering::before {
	content: "\e9fb";
}

.icon-hvh-wondering2::before {
	content: "\e9fc";
}

.icon-hvh-sleepy::before {
	content: "\e9fd";
}

.icon-hvh-sleepy2::before {
	content: "\e9fe";
}

.icon-hvh-frustrated::before {
	content: "\e9ff";
}

.icon-hvh-frustrated2::before {
	content: "\ea00";
}

.icon-hvh-crying::before {
	content: "\ea01";
}

.icon-hvh-crying2::before {
	content: "\ea02";
}

.icon-hvh-point-up::before {
	content: "\ea03";
}

.icon-hvh-point-right::before {
	content: "\ea04";
}

.icon-hvh-point-down::before {
	content: "\ea05";
}

.icon-hvh-point-left::before {
	content: "\ea06";
}

.icon-hvh-warning::before {
	content: "\ea07";
}

.icon-hvh-notification::before {
	content: "\ea08";
}

.icon-hvh-question::before {
	content: "\ea09";
}

.icon-hvh-plus::before {
	content: "\ea0a";
}

.icon-hvh-minus::before {
	content: "\ea0b";
}

.icon-hvh-info::before {
	content: "\ea0c";
}

.icon-hvh-cancel-circle::before {
	content: "\ea0d";
}

.icon-hvh-blocked::before {
	content: "\ea0e";
}

.icon-hvh-cross::before {
	content: "\ea0f";
}

.icon-hvh-checkmark::before {
	content: "\ea10";
}

.icon-hvh-checkmark2::before {
	content: "\ea11";
}

.icon-hvh-spell-check::before {
	content: "\ea12";
}

.icon-hvh-enter::before {
	content: "\ea13";
}

.icon-hvh-exit::before {
	content: "\ea14";
}

.icon-hvh-play2::before {
	content: "\ea15";
}

.icon-hvh-pause::before {
	content: "\ea16";
}

.icon-hvh-stop::before {
	content: "\ea17";
}

.icon-hvh-previous::before {
	content: "\ea18";
}

.icon-hvh-next::before {
	content: "\ea19";
}

.icon-hvh-backward::before {
	content: "\ea1a";
}

.icon-hvh-forward2::before {
	content: "\ea1b";
}

.icon-hvh-play3::before {
	content: "\ea1c";
}

.icon-hvh-pause2::before {
	content: "\ea1d";
}

.icon-hvh-stop2::before {
	content: "\ea1e";
}

.icon-hvh-backward2::before {
	content: "\ea1f";
}

.icon-hvh-forward3::before {
	content: "\ea20";
}

.icon-hvh-first::before {
	content: "\ea21";
}

.icon-hvh-last::before {
	content: "\ea22";
}

.icon-hvh-previous2::before {
	content: "\ea23";
}

.icon-hvh-next2::before {
	content: "\ea24";
}

.icon-hvh-eject::before {
	content: "\ea25";
}

.icon-hvh-volume-high::before {
	content: "\ea26";
}

.icon-hvh-volume-medium::before {
	content: "\ea27";
}

.icon-hvh-volume-low::before {
	content: "\ea28";
}

.icon-hvh-volume-mute::before {
	content: "\ea29";
}

.icon-hvh-volume-mute2::before {
	content: "\ea2a";
}

.icon-hvh-volume-increase::before {
	content: "\ea2b";
}

.icon-hvh-volume-decrease::before {
	content: "\ea2c";
}

.icon-hvh-loop::before {
	content: "\ea2d";
}

.icon-hvh-loop2::before {
	content: "\ea2e";
}

.icon-hvh-infinite::before {
	content: "\ea2f";
}

.icon-hvh-shuffle::before {
	content: "\ea30";
}

.icon-hvh-arrow-up-left::before {
	content: "\ea31";
}

.icon-hvh-arrow-up::before {
	content: "\ea32";
}

.icon-hvh-arrow-up-right::before {
	content: "\ea33";
}

.icon-hvh-arrow-right::before {
	content: "\ea34";
}

.icon-hvh-arrow-down-right::before {
	content: "\ea35";
}

.icon-hvh-arrow-down::before {
	content: "\ea36";
}

.icon-hvh-arrow-down-left::before {
	content: "\ea37";
}

.icon-hvh-arrow-left::before {
	content: "\ea38";
}

.icon-hvh-arrow-up-left2::before {
	content: "\ea39";
}

.icon-hvh-arrow-up2::before {
	content: "\ea3a";
}

.icon-hvh-arrow-up-right2::before {
	content: "\ea3b";
}

.icon-hvh-arrow-right2::before {
	content: "\ea3c";
}

.icon-hvh-arrow-down-right2::before {
	content: "\ea3d";
}

.icon-hvh-arrow-down2::before {
	content: "\ea3e";
}

.icon-hvh-arrow-down-left2::before {
	content: "\ea3f";
}

.icon-hvh-arrow-left2::before {
	content: "\ea40";
}

.icon-hvh-circle-up::before {
	content: "\ea41";
}

.icon-hvh-circle-right::before {
	content: "\ea42";
}

.icon-hvh-circle-down::before {
	content: "\ea43";
}

.icon-hvh-circle-left::before {
	content: "\ea44";
}

.icon-hvh-tab::before {
	content: "\ea45";
}

.icon-hvh-move-up::before {
	content: "\ea46";
}

.icon-hvh-move-down::before {
	content: "\ea47";
}

.icon-hvh-sort-alpha-asc::before {
	content: "\ea48";
}

.icon-hvh-sort-alpha-desc::before {
	content: "\ea49";
}

.icon-hvh-sort-numeric-asc::before {
	content: "\ea4a";
}

.icon-hvh-sort-numberic-desc::before {
	content: "\ea4b";
}

.icon-hvh-sort-amount-asc::before {
	content: "\ea4c";
}

.icon-hvh-sort-amount-desc::before {
	content: "\ea4d";
}

.icon-hvh-command::before {
	content: "\ea4e";
}

.icon-hvh-shift::before {
	content: "\ea4f";
}

.icon-hvh-ctrl::before {
	content: "\ea50";
}

.icon-hvh-opt::before {
	content: "\ea51";
}

.icon-hvh-checkbox-checked::before {
	content: "\ea52";
}

.icon-hvh-checkbox-unchecked::before {
	content: "\ea53";
}

.icon-hvh-radio-checked::before {
	content: "\ea54";
}

.icon-hvh-radio-checked2::before {
	content: "\ea55";
}

.icon-hvh-radio-unchecked::before {
	content: "\ea56";
}

.icon-hvh-crop::before {
	content: "\ea57";
}

.icon-hvh-make-group::before {
	content: "\ea58";
}

.icon-hvh-ungroup::before {
	content: "\ea59";
}

.icon-hvh-scissors::before {
	content: "\ea5a";
}

.icon-hvh-filter::before {
	content: "\ea5b";
}

.icon-hvh-font::before {
	content: "\ea5c";
}

.icon-hvh-ligature::before {
	content: "\ea5d";
}

.icon-hvh-ligature2::before {
	content: "\ea5e";
}

.icon-hvh-text-height::before {
	content: "\ea5f";
}

.icon-hvh-text-width::before {
	content: "\ea60";
}

.icon-hvh-font-size::before {
	content: "\ea61";
}

.icon-hvh-bold::before {
	content: "\ea62";
}

.icon-hvh-underline::before {
	content: "\ea63";
}

.icon-hvh-italic::before {
	content: "\ea64";
}

.icon-hvh-strikethrough::before {
	content: "\ea65";
}

.icon-hvh-omega::before {
	content: "\ea66";
}

.icon-hvh-sigma::before {
	content: "\ea67";
}

.icon-hvh-page-break::before {
	content: "\ea68";
}

.icon-hvh-superscript::before {
	content: "\ea69";
}

.icon-hvh-subscript::before {
	content: "\ea6a";
}

.icon-hvh-superscript2::before {
	content: "\ea6b";
}

.icon-hvh-subscript2::before {
	content: "\ea6c";
}

.icon-hvh-text-color::before {
	content: "\ea6d";
}

.icon-hvh-pagebreak::before {
	content: "\ea6e";
}

.icon-hvh-clear-formatting::before {
	content: "\ea6f";
}

.icon-hvh-table::before {
	content: "\ea70";
}

.icon-hvh-table2::before {
	content: "\ea71";
}

.icon-hvh-insert-template::before {
	content: "\ea72";
}

.icon-hvh-pilcrow::before {
	content: "\ea73";
}

.icon-hvh-ltr::before {
	content: "\ea74";
}

.icon-hvh-rtl::before {
	content: "\ea75";
}

.icon-hvh-section::before {
	content: "\ea76";
}

.icon-hvh-paragraph-left::before {
	content: "\ea77";
}

.icon-hvh-paragraph-center::before {
	content: "\ea78";
}

.icon-hvh-paragraph-right::before {
	content: "\ea79";
}

.icon-hvh-paragraph-justify::before {
	content: "\ea7a";
}

.icon-hvh-indent-increase::before {
	content: "\ea7b";
}

.icon-hvh-indent-decrease::before {
	content: "\ea7c";
}

.icon-hvh-share::before {
	content: "\ea7d";
}

.icon-hvh-new-tab::before {
	content: "\ea7e";
}

.icon-hvh-embed::before {
	content: "\ea7f";
}

.icon-hvh-embed2::before {
	content: "\ea80";
}

.icon-hvh-terminal::before {
	content: "\ea81";
}

.icon-hvh-share2::before {
	content: "\ea82";
}

.icon-hvh-mail::before {
	content: "\ea83";
}

.icon-hvh-mail2::before {
	content: "\ea84";
}

.icon-hvh-mail3::before {
	content: "\ea85";
}

.icon-hvh-mail4::before {
	content: "\ea86";
}

.icon-hvh-amazon::before {
	content: "\ea87";
}

.icon-hvh-google::before {
	content: "\ea88";
}

.icon-hvh-google2::before {
	content: "\ea89";
}

.icon-hvh-google3::before {
	content: "\ea8a";
}

.icon-hvh-google-plus::before {
	content: "\ea8b";
}

.icon-hvh-google-plus2::before {
	content: "\ea8c";
}

.icon-hvh-google-plus3::before {
	content: "\ea8d";
}

.icon-hvh-hangouts::before {
	content: "\ea8e";
}

.icon-hvh-google-drive::before {
	content: "\ea8f";
}

.icon-hvh-facebook::before {
	content: "\ea90";
}

.icon-hvh-facebook2::before {
	content: "\ea91";
}

.icon-hvh-instagram::before {
	content: "\ea92";
}

.icon-hvh-whatsapp::before {
	content: "\ea93";
}

.icon-hvh-spotify::before {
	content: "\ea94";
}

.icon-hvh-telegram::before {
	content: "\ea95";
}

.icon-hvh-twitter::before {
	content: "\ea96";
}

.icon-hvh-vine::before {
	content: "\ea97";
}

.icon-hvh-vk::before {
	content: "\ea98";
}

.icon-hvh-renren::before {
	content: "\ea99";
}

.icon-hvh-sina-weibo::before {
	content: "\ea9a";
}

.icon-hvh-rss::before {
	content: "\ea9b";
}

.icon-hvh-rss2::before {
	content: "\ea9c";
}

.icon-hvh-youtube::before {
	content: "\ea9d";
}

.icon-hvh-youtube2::before {
	content: "\ea9e";
}

.icon-hvh-twitch::before {
	content: "\ea9f";
}

.icon-hvh-vimeo::before {
	content: "\eaa0";
}

.icon-hvh-vimeo2::before {
	content: "\eaa1";
}

.icon-hvh-lanyrd::before {
	content: "\eaa2";
}

.icon-hvh-flickr::before {
	content: "\eaa3";
}

.icon-hvh-flickr2::before {
	content: "\eaa4";
}

.icon-hvh-flickr3::before {
	content: "\eaa5";
}

.icon-hvh-flickr4::before {
	content: "\eaa6";
}

.icon-hvh-dribbble::before {
	content: "\eaa7";
}

.icon-hvh-behance::before {
	content: "\eaa8";
}

.icon-hvh-behance2::before {
	content: "\eaa9";
}

.icon-hvh-deviantart::before {
	content: "\eaaa";
}

.icon-hvh-500px::before {
	content: "\eaab";
}

.icon-hvh-steam::before {
	content: "\eaac";
}

.icon-hvh-steam2::before {
	content: "\eaad";
}

.icon-hvh-dropbox::before {
	content: "\eaae";
}

.icon-hvh-onedrive::before {
	content: "\eaaf";
}

.icon-hvh-github::before {
	content: "\eab0";
}

.icon-hvh-npm::before {
	content: "\eab1";
}

.icon-hvh-basecamp::before {
	content: "\eab2";
}

.icon-hvh-trello::before {
	content: "\eab3";
}

.icon-hvh-wordpress::before {
	content: "\eab4";
}

.icon-hvh-joomla::before {
	content: "\eab5";
}

.icon-hvh-ello::before {
	content: "\eab6";
}

.icon-hvh-blogger::before {
	content: "\eab7";
}

.icon-hvh-blogger2::before {
	content: "\eab8";
}

.icon-hvh-tumblr::before {
	content: "\eab9";
}

.icon-hvh-tumblr2::before {
	content: "\eaba";
}

.icon-hvh-yahoo::before {
	content: "\eabb";
}

.icon-hvh-yahoo2::before {
	content: "\eabc";
}

.icon-hvh-tux::before {
	content: "\eabd";
}

.icon-hvh-appleinc::before {
	content: "\eabe";
}

.icon-hvh-finder::before {
	content: "\eabf";
}

.icon-hvh-android::before {
	content: "\eac0";
}

.icon-hvh-windows::before {
	content: "\eac1";
}

.icon-hvh-windows8::before {
	content: "\eac2";
}

.icon-hvh-soundcloud::before {
	content: "\eac3";
}

.icon-hvh-soundcloud2::before {
	content: "\eac4";
}

.icon-hvh-skype::before {
	content: "\eac5";
}

.icon-hvh-reddit::before {
	content: "\eac6";
}

.icon-hvh-hackernews::before {
	content: "\eac7";
}

.icon-hvh-wikipedia::before {
	content: "\eac8";
}

.icon-hvh-linkedin::before {
	content: "\eac9";
}

.icon-hvh-linkedin2::before {
	content: "\eaca";
}

.icon-hvh-lastfm::before {
	content: "\eacb";
}

.icon-hvh-lastfm2::before {
	content: "\eacc";
}

.icon-hvh-delicious::before {
	content: "\eacd";
}

.icon-hvh-stumbleupon::before {
	content: "\eace";
}

.icon-hvh-stumbleupon2::before {
	content: "\eacf";
}

.icon-hvh-stackoverflow::before {
	content: "\ead0";
}

.icon-hvh-pinterest::before {
	content: "\ead1";
}

.icon-hvh-pinterest2::before {
	content: "\ead2";
}

.icon-hvh-xing::before {
	content: "\ead3";
}

.icon-hvh-xing2::before {
	content: "\ead4";
}

.icon-hvh-flattr::before {
	content: "\ead5";
}

.icon-hvh-foursquare::before {
	content: "\ead6";
}

.icon-hvh-yelp::before {
	content: "\ead7";
}

.icon-hvh-paypal::before {
	content: "\ead8";
}

.icon-hvh-chrome::before {
	content: "\ead9";
}

.icon-hvh-firefox::before {
	content: "\eada";
}

.icon-hvh-IE::before {
	content: "\eadb";
}

.icon-hvh-edge::before {
	content: "\eadc";
}

.icon-hvh-safari::before {
	content: "\eadd";
}

.icon-hvh-opera::before {
	content: "\eade";
}

.icon-hvh-file-pdf::before {
	content: "\eadf";
}

.icon-hvh-file-openoffice::before {
	content: "\eae0";
}

.icon-hvh-file-word::before {
	content: "\eae1";
}

.icon-hvh-file-excel::before {
	content: "\eae2";
}

.icon-hvh-libreoffice::before {
	content: "\eae3";
}

.icon-hvh-html-five::before {
	content: "\eae4";
}

.icon-hvh-html-five2::before {
	content: "\eae5";
}

.icon-hvh-css3::before {
	content: "\eae6";
}

.icon-hvh-git::before {
	content: "\eae7";
}

.icon-hvh-codepen::before {
	content: "\eae8";
}

.icon-hvh-svg::before {
	content: "\eae9";
}

.icon-hvh-IcoMoon::before {
	content: "\eaea";
}
